<div class="container__content-big-card">
    <div class="content__title">
        <h1>{{contentTitle}}</h1>
    </div>
    <div class="content__cover">
        <img src="{{contentCover}}" alt="" srcset="">
    </div>
    <a [routerLink]="['']"><< Voltar</a>
        
    <div class="content__description">
        <p>{{contentDescripition}}
        </p>
    </div>
    <div class="seta__um">
        <img id="imagem__um" src="../../assets/img/seta.png" width="70px" alt="">
    </div>
    <div class="link__portfolio">
       
        <a href="https://claudiocarige.com.br" target="_blank">www.claudiocarige.com.br</a>
        
    </div>
    
</div>