.container__small-card{
    margin-left: 30px;
    margin-bottom: 10px;
    width: 500px;
    height: 160px;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.small-card__foto > img{
    width: 260px;
    min-width: 260px;
    margin-right: 20px;
    max-height: 150px;
    min-height: 150px;
    border: 2px solid rgb(192, 156, 88);
    border-radius: 5px;
}

.small-card__title{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card__title > h3 > a{
    font-size: 20px;
    text-decoration: none;
}

hr{
    color: 1px solid rgb(216, 15, 15);
}
.container__small-hr{
    margin-top: 5px;
   
}

