
.container__menu-bar{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
  
}

a{
    font-size: 18px;
    text-decoration: none ;
}

.container__menu-bar > ul > li{
    margin-right: 40px;
    list-style: none;
    
}

